/* fonts */
@font-face {
  font-family: Merriweather-Bold;
  src: url(assets/fonts/Merriweather-Bold.ttf);
}
@font-face {
  font-family: Merriweather-Light;
  src: url(assets/fonts/Merriweather-Light.ttf);
}
@font-face {
  font-family: Merriweather-Regular;
  src: url(assets/fonts/Merriweather-Regular.ttf);
}
:root {
  --fontMBold: Merriweather-Bold;
  --fontMLight: Merriweather-Light;
  --fontMRegular: Merriweather-Regular;
}
/*full page style, scrollbar:none */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
  text-decoration: none;
  list-style-type: none;
  line-height: 1.6;
  font-size: 1.0rem;
  transition: all 2s;
}
*::-webkit-scrollbar {
  display: none;
}
.hide {
  display: none;
}
.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}
.justyCenter {
  justify-content: center;
}
.justySpAr {
  justify-content: space-around;
}
.justySpBW {
  justify-content: space-between;
}
.alignCenter {
  align-items: center;
}
.wrap {
  flex-wrap: wrap;
}
#fullPageSec {
  width: 80vw;
  margin: 0 auto;
}
#fullPageDivCont, main {
  width: 75vw;
}
main {
  z-index: 1;
  height: 0rem;
  word-break: break-word;
}
main.active {
  padding: 2rem 0;
  height: 29rem;
}
.buttons {
  width: 6rem;
  margin-top: 2rem;
  padding: 6px;
  text-align: center;
  background-color: black;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  border: 1px solid black;
  border-radius: 20px;
}
.buttons:hover {
  background-color: white;
  color: black;
}
h2 {
  font-size: 2.0rem;
}
h3 {
  font-size: 1.8rem;
}
h4 {
  font-size: 1.6rem;
}
.warningTextColor {
  color: red;
}
.cursorPointer {
  cursor: pointer;
}
/* header */
#header {
  z-index: 1;
  height: 8rem;
  width: 90%;
  padding: 2rem 0;
  border-bottom: 2px solid black;
}
#headerh3 {
  font-size: 1.9rem;
}
/* main */
input {
  width: 20rem;
  padding: 0.5rem;
}
/* first page style */
#firstPDivCont {
  min-height: 20rem;
}
h1 {
  font-size: 2.6rem;
  padding: 2rem 0;
}
/* login page style */
.marginTopLogPage {
  margin-top: 1rem;
}
#loginPageDivContainer {
  min-height: 20rem;
}


/* footer page style */
#footer {
  z-index: 10;
  background-color: white;
  width: 90%;
  padding: 2rem;
  border-top: 2px solid black;
}
#impressumAndFAQContainer, #impressHeadCont, #impressMainContainer {
  width: 80vw;
}
.closeSVG {
  width: 2rem;
}

#impressumSec {
  height: 0rem;
  z-index: 10;
}
#impressumSec.active {
  height: 30rem;
}
#impressumDivContainer {
  background-color: white;
  z-index: 10;
  height: 0rem;
}
#impressumDivContainer.active {
  height: 30rem;
}
.width50{
  width: 50%;
}
.textCenter {
  text-align: center;
}