/* fonts */
@font-face {
  font-family: Merriweather-Bold;
  src: url(assets/fonts/Merriweather-Bold.ttf);
}
@font-face {
  font-family: Merriweather-Light;
  src: url(assets/fonts/Merriweather-Light.ttf);
}
@font-face {
  font-family: Merriweather-Regular;
  src: url(assets/fonts/Merriweather-Regular.ttf);
}
:root {
  --fontMBold: Merriweather-Bold;
  --fontMLight: Merriweather-Light;
  --fontMRegular: Merriweather-Regular;
}
/*full page style, scrollbar:none */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
  text-decoration: none;
  list-style-type: none;
  line-height: 1.6;
  font-size: 1.0rem;
  transition: all 0.3s;
}
*::-webkit-scrollbar {
  display: none;
}
.hide {
  display: none;
}
.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}
.justyCenter {
  justify-content: center;
}
.alignCenter {
  align-items: center;
}
.wrap {
  flex-wrap: wrap;
}
#fullPageSec {
  width: 80vw;
  margin: 0 auto;
}
#fullPageDivCont, main {
  width: 80vw;
}
main {
  word-break: break-word;
}
.buttons {
  width: 6rem;
  margin-top: 2rem;
  padding: 6px;
  text-align: center;
  background-color: black;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  border: 1px solid black;
  border-radius: 20px;
}
.buttons:hover {
  background-color: white;
  color: black;
}
h2 {
  font-size: 2.0rem;
}
/* header */
#header {
  z-index: 1;
  height: 7rem;
  width: 90%;
  padding: 2rem 0;
  border-bottom: 2px solid black;
}
#headerh3 {
  font-size: 1.9rem;
}
/* main */
#main {
  padding: 2rem 0;
}
input {
  padding: 0.5rem;
}
/* first page style */
#firstPDivCont {
  min-height: 20rem;
}
h1 {
  font-size: 2.6rem;
  padding: 2rem 0;
}
/* login page style */
.marginTopLogPage {
  margin-top: 1rem;
}
#loginPageDivContainer {
  min-height: 20rem;
}


/* footer page style */
#footer {
  width: 90%;
  padding: 2rem;
  border-top: 2px solid black;
}
#footer h5 {
  text-align: center;
}